html,
body {
  height: 100%;
}
body {
  background-color: #f5f5f5;
}
#root {
  width: 100%;
  height: 100%;
}
.signin {
  height: 100%;
  display: flex;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px 15px 55px 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[name="login"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[name="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .invalid-feedback {
  margin-bottom: 10px;
}
.form-signin .test-logins {
  text-align: left;
  margin-top: 20px;
  font-size: 14px;
}
.accounts h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
